snippet python
#!/usr/bin/env python
endsnippet

snippet node
#!/usr/bin/env node
endsnippet

snippet pipeline
pipeline {
        agent {

        }
        environment {

        }
        stages {
                stage("") {
                        steps {

                        }
                }
        }
}
endsnippet

snippet perl
#!/usr/bin/perl
use strict;
use warnings;

endsnippet
